body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.a
{
   background-color: #FFFFFF;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Banner1
{
   background-color: #265A88;
   background: -moz-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -webkit-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -o-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -ms-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   border: 1px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 43px;
   text-align: center;
   text-shadow: 0px 0px 4px rgba(0,0,0,1.00);
}
#Banner1 span
{
   display: block;
   height: 43px;
   margin: 22px 0px 22px 0px;
}
#Banner1 .single-char
{
   float: left;
}
#Banner1 div
{
   display: inline-block;
   text-align: center;
}
.Banner1_ShowAnimation
{
   -webkit-animation: animate-fade-in-left 1000ms linear 0s 1 normal both;
   -moz-animation: animate-fade-in-left 1000ms linear 0s 1 normal both;
   animation: animate-fade-in-left 1000ms linear 0s 1 normal both;
}
.Banner1_HideAnimation
{
}
#Banner2
{
   background-color: #265A88;
   background: -moz-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -webkit-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -o-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -ms-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   border: 1px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Banner2 span
{
   display: block;
   height: 19px;
   margin: 11px 0px 11px 0px;
}
#Banner2 .single-char
{
   float: left;
}
#Banner2 div
{
   display: inline-block;
   text-align: center;
}
.Banner2_ShowAnimation
{
   -webkit-animation: bouncing-ball-move 1000ms linear 0s 1 normal both;
   -moz-animation: bouncing-ball-move 1000ms linear 0s 1 normal both;
   animation: bouncing-ball-move 1000ms linear 0s 1 normal both;
}
.Banner2_HideAnimation
{
}
#Table1
{
   border: 2px #C0C0C0 solid;
   background-color: #abe5f0;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   height: 46px;
}
#Table2
{
   border: 2px #C0C0C0 solid;
   background-color: #265A88;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
}
#Table2 td
{
   padding: 0px 0px 0px 0px;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   height: 42px;
}
#Banner3
{
   background-color: #265A88;
   background: -moz-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -webkit-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -o-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -ms-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   border: 1px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Banner3 span
{
   display: block;
   height: 19px;
   margin: 6px 0px 6px 0px;
}
#Banner3 .single-char
{
   float: left;
}
#Banner3 div
{
   display: inline-block;
   text-align: center;
}
.Banner3_ShowAnimation
{
   -webkit-animation: animate-flash 1000ms linear 0s 1 normal both;
   -moz-animation: animate-flash 1000ms linear 0s 1 normal both;
   animation: animate-flash 1000ms linear 0s 1 normal both;
}
.Banner3_HideAnimation
{
}
#wb_Text1 
{
   background-color: #1E90FF;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Banner5
{
   background-color: #265A88;
   background: -moz-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -webkit-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -o-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -ms-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   border: 1px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
}
#Banner5 span
{
   display: block;
   height: 19px;
   margin: 6px 0px 6px 0px;
}
#Banner5 .single-char
{
   float: left;
}
#Banner5 div
{
   display: inline-block;
   text-align: center;
}
.Banner5_ShowAnimation
{
   -webkit-animation: animate-flash 1000ms linear 0s 1 normal both;
   -moz-animation: animate-flash 1000ms linear 0s 1 normal both;
   animation: animate-flash 1000ms linear 0s 1 normal both;
}
.Banner5_HideAnimation
{
}
#wb_Text2 
{
   background-color: #1E90FF;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Banner4
{
   background-color: #265A88;
   background: -moz-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -webkit-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -o-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: -ms-linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   background: linear-gradient(bottom,#265A88 0%,#337AB7 100%);
   border: 1px #245580 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   text-align: center;
}
#Banner4 span
{
   display: block;
   height: 13px;
   margin: 23px 0px 23px 0px;
}
#Banner4 .single-char
{
   float: left;
}
#Banner4 div
{
   display: inline-block;
   text-align: center;
}
.Banner4_ShowAnimation
{
   -webkit-animation: animate-flash 1000ms linear 0s 1 normal both;
   -moz-animation: animate-flash 1000ms linear 0s 1 normal both;
   animation: animate-flash 1000ms linear 0s 1 normal both;
}
.Banner4_HideAnimation
{
}
